.active {
	background-color: #4a4a4a;
	color: #fff;
}

.btn {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	margin-right: 40px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.paginationBtn {
	border: none;
	cursor: pointer;
}

.left {
	margin-right: 40px;
}
